
.blog-header{
    width: 1000px;
    height: 144px;
    background:url("../img/ww.png") no-repeat;
    background-size: 100% 100%;
    border-radius: 5px 5px;
}

.blog-header h2{
    color: #d1e3ed;
    position: relative;
    top: 30px;
    left: 50px;
}
/*导航栏*/
.blog-nav{
    width: 1000px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px 5px;
    background-color: white;
}

.nav li a{
    width: 140px;
    height: 50px;
    text-align: center;
    margin-left: 1px;
    font-size: 20px;
}


/*
 * 焦点图
 */
.banner-wrap {
    width: 1000px;
    height: 300px;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
}

.banner-wrap .banner-left {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 5px;
    left: 3px;
}

.banner-wrap .banner-left .content {
    overflow: hidden;
    float: left;
    position: relative;
    width: 480px;
    height: 300px;
}
.banner-wrap .banner-left .content ul li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 300px;
    z-index:2;
}

.banner-wrap .banner-left .switch-btn-box {
    position: relative;
    width: 110px;
    float: right;
    padding-right: 4px;
    z-index: 1
}
.banner-wrap .banner-left .switch-btn-box ul {
    position: relative;
    width: 100px;
    overflow: hidden
}

.banner-wrap .banner-left .switch-btn-box ul li {
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
    width: 100px;
    height: 50px;

}

.banner-wrap .banner-left .switch-btn-box ul li img {
    width: 100px;
    height: 50px;
    display: block
}

.banner-wrap .banner-left .switch-btn-box .hover-bg {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 100;
    background: url("../img/1.png")
}
/*
 *每日一语
 */
.banner-wrap .banner-right{
    width: 380px;
    height: 272px;
    background: url("../img/board.jpg");
    position: absolute;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    right: 2px;
}


.banner-wrap .banner-right .banner-right-text {
    width: 230px;
    height: 120px;
    position: absolute;
    right: 20px;
    bottom: 50px;
    color: #f7b0b0;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500
}


/*
 *内容
 */
.home-content{
    width: 1000px;
}
.home-content-left{
    width: 700px;
    float: left;
}
.home-content .home-content-left .person-left{
    background: #fff;
    width: 680px;
    height: 700px;
    box-shadow: 2px 2px 5px gray;
}
.home-content .home-content-left .person-left h3{
    padding: 10px 10px;
    color: #46b8da;
}
.home-content .home-content-left .person-left ul li{
    padding: 10px;
    font-size: 16px;
    margin: 5px 10px;
}
Blockquote{
    /*width: 95%;*/
    border-left: 2px solid #46b8da;
    margin-top: 20px;
}

.lists  .li-text{
    margin-top: 20px;
    width: 680px;
    position: relative;
}
.home-content-title{
    position: relative;
}
.most{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 99;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}

.aside{
    width: 30%;
    height: 284px;
    float: left;
    margin-left: 15px;
    box-shadow: 2px 2px 5px gray;
    overflow: hidden;
}
.aside img{
    width: 100%;
}

.aside .aside-name{
    width: 100%;
    height: 284px;
    background: rgba(255,255,255,.8);
    position: relative;
    top: -50px;
    left: 0;
    text-align: center;
    font-size: 16px;
    -webkit-transition: top 0.5s ;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s ;
    transition: top 0.5s;
}
.aside .aside-name:hover{
    top: -200px;
}
.list-music{
    font-size: 14px;
    background: #f9f9f9;
    cursor: pointer;
}
.li-project{
    width: 680px;
    height: 150px;
}
.li-projects{
    width: 30%;
    height: 100%;
    margin-left: 17px;
    float: left;
}
.li-projects img{
    width: 100%;
    height: 124px;
    -webkit-transition: box-shadow 0.5s ;
    -moz-transition:box-shadow  0.5s;
    -ms-transition: box-shadow  0.5s;
    -o-transition: box-shadow 0.5s ;
    transition:  box-shadow  0.5s;
}
.li-projects img:hover{
    margin-top: -3px;
    box-shadow: 5px 5px 8px gray;
}
.li-projects p{
    font-size: 18px;
    text-align: center;
}
/*首页内容右边*/
.home-content-right{
    width: 300px;
    float: left;
}

.home-content-right .date{
    box-shadow: 2px 2px 5px gray;
    background: #fff;
    width: 300px;
    height: 354px;
    text-align: center;
    font-weight: 500;
}
.home-content-right .date .table{
    width: 274px;
    height: 280px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.home-content-right .person{
    box-shadow: 2px 2px 5px gray;
    background: #fff;
    width: 300px;
    height: 300px;
    font-size: 18px;
    font-weight: 500;
}
.home-content-right .person p{
    margin-top: 20px;
    margin-left: 20px;
}
/*
 * Footer
 */

.blog-footer {
    margin-top: 20px;
    width: 1000px;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-footer p,.blog-footer p a{
    font-size: 14px;
}